@import "~@angular/material/theming";

@mixin app-theme($config-or-theme) {
    // Extract the color configuration in case a theme has been passed.
    // This allows consumers to either pass a theme object or a color configuration.
    $config: mat-get-color-config($config-or-theme);
    // Extract the palettes you need from the theme definition.
    $primary: map-get($config, primary);
    $accent: map-get($config, accent);
    $foreground-palette: map-get($config-or-theme, foreground);
    $background-palette: map-get($config-or-theme, background);

    // Define any styles affected by the theme.
    .app-theme {
        // Use mat-color to extract individual colors from a palette.
        background-color: mat-color($background-palette, background);
    }
}
